    <div id="footer">
        <!-- wrapper-footer -->
        <div class="wrapper">
            <!-- footer-cols -->
            <ul id="footer-cols">
                <li class="col">
                    <h5>
                        Pages</h5>
                    <ul>
                        <li class="page_item"><a href="#">Home</a></li>
                        <li class="page_item"><a href="#">About</a></li>
                        <li class="page_item"><a href="#">Blog</a></li>
                        <li class="page_item"><a href="#">Portfolio</a></li>
                        <li class="page_item"><a href="#">Gallery</a></li>
                        <li class="page_item"><a href="#">Contact</a></li>
                    </ul>
                </li>
                <li class="col">
                    <h5>
                        Categories</h5>
                    <ul>
                        <li><a href="#">As sit amet quam egesta liberop.Net</a> </li>
                        <li><a href="#">C# sit amet quam egesta libero .Net</a></li>
                        <li><a href="#">A sit amet quam egesta liberojax</a></li>
                        <li><a href="#">SQ sit amet quam egesta libero L</a></li>
                        <li><a href="#">Mob sit amet quam egesta lib eroile </a></li>
                        <li><a href="#">Blo sit amet quam egesta libero gging </a></li>
                        <li><a href="#">SEsit amet quam egesta libero O </a></li>
                    </ul>
                </li>
                <li class="col">
                    <h5>
                        Subscribe</h5>
                    <ul>
                        <li><a href="#">Find Us on Facebook</a> </li>
                        <li><a href="#">Follow Us on Twitter</a></li>
                        <li><a href="#">Circle Us On Google Plus</a></li>
                        <li><a href="#">RSS Feed</a></li>
                    </ul>
                </li>
                <li class="col">
                    <h5>
                        About the theme</h5>
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                    egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet,
                    ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
                    Mauris placerat eleifend leo. Cursus faucibus, tortor neque egestas augue, eu vulputate
                    magna eros. </li>
            </ul>
            <!-- ENDS footer-cols -->
        </div>
        <!-- ENDS wrapper-footer -->
    </div>
    <!-- ENDS FOOTER -->