{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags static blog_tags my_blog_tags %}
                <div class="well">
                    <h3>Przeszukaj artykuły</h3>
                    <br />
                    <input type="text" name="EMAIL" placeholder="Wpisz czego szukasz"><br />
                    <input class="btn btn-info" type="submit" name="subscribe" value="Szukaj">
                </div>
                <div class="well">
                    <h3>Jeżeli nas lubisz...</h3>
                    <div style="padding-top: 10px;">
                        <img src="{% static "images/facebook_cloud.png" %}" />
                        <img src="{% static "images/twitter_cloud.png" %}" />
                        <img src="{% static "images/delicious_cloud.png" %}" />
                        <img src="{% static "images/feed_cloud.png" %}" />
                    </div>
                    <br />
                    <input type="text" name="EMAIL" placeholder="Wpisz swój adres e-mail"><br />
                    <input class="btn btn-info" type="submit" name="subscribe" value="Subskrybuj">
                </div>
                <div class="thumbnail">
                    <ul id="tab" class="nav nav-tabs">
                        <li class="active"><a href="#Popular" data-toggle="tab">Popular</a></li>
                        <li><a href="#Archive" data-toggle="tab">Archive</a></li>
                        {% blog_recent_posts 1 as recent_posts %}
                        {% if recent_posts %}
                        <li><a href="#Recent" data-toggle="tab">Recent</a></li>
                        {% endif %}
                    </ul>
                    <div id="myTabContent" class="tab-content table">
                        <div class="tab-pane fade in active" id="Popular">
                            <h3>
                                Popular Posts
                            </h3>
                            <br />
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td>
                                        <i class="icon-star "></i>&nbsp; <a href="#"  id="p1">df dfree dfff dsf dfail Acco dfd)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon-star"></i>&nbsp;<a href="#"  id="p2">dsf sdfFree dsf sdfil Account(s)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon-star"></i>&nbsp;<a href="#"  id="p3">sdf Free Esdfmail Accousdf) dfdfd</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon-star"></i>&nbsp; <a href="#"  id="p4">sdf Free Eds fail Ac dfd fdf)</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <i class="icon-star"></i>&nbsp; <a href="#"  id="p5">dfee Ef dsf il df(s dfd f)</a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        {% block blog_months %}
                        {% blog_months as months %}
                        {% if months %}
                            <div class="tab-pane fade in " id="Archive">
                                <h3>{% trans "Archive" %}</h3>
                                <br />
                                <table class="table table-striped table-bordered">
                                <ul>
                                {% for month in months %}
                                    {% ifchanged month.date.year %}
                                        {% if not forloop.first %}</ul>{% endif %}
                                        <h6>{{ month.date.year }}</h6><ul class="unstyled">
                                    {% endifchanged %}
                                    <li><a href="{% url "blog_post_list_month" year=month.date.year month=month.date.month %}"
                                        >{{ month.date|date:"F" }}</a> ({{ month.post_count }})</li>
                                {% endfor %}

                                {% comment %}
                                <tr>
                                    <td>
                                        <i class="icon-calendar"></i>&nbsp;<a href="#" >2008 - df ddfff dfdfdffdf dfewr</a>
                                    </td>
                                </tr>

                                {% endcomment %}


                                </ul>
                                </table>
                            </div>
                        {% endif %}
                        {% endblock %}

                        {% block blog_recent_posts %}
                        {% blog_recent_posts 5 as recent_posts %}
                        {% if recent_posts %}
                        <div class="tab-pane fade in " id="Recent">
                            <h3>
                                {% trans "Recent Posts" %}
                            </h3>
                            <br />
                            <table class="table table-striped table-bordered">
                            {% for recent_post in recent_posts %}
                                    <tr>
                                        <td>
                                            <i class="icon-flag "></i>&nbsp; <a href="{{ recent_post.get_absolute_url }}"  id="r1">{{ recent_post.title }}</a>
                                        </td>
                                    </tr>
                            {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
                <br />

                {% block blog_keywords %}
                {% keywords_for blog.blogpost as tags %}
                {% if tags %}
                <div class="well">
                    <h3>{% trans "Tags" %}</h3>
                    <div style="padding-top: 10px;">
                    {% for tag in tags %}
                        <span class="label label-info"><i class="icon-tag icon-white"></i><a href="{% url "blog_post_list_tag" tag.slug %}"  style="color: White;">
                                &nbsp;{{ tag }} ({{ tag.item_count }})</a></span> {% comment %}{{ tag.weight }}{% endcomment %}
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endblock %}

                <div class="wellll">
                    <div class="row-fluid DivTableDesign headerCerve">
                        <h3>
                            Random Posts
                        </h3>
                    </div>
                      {% random_selections 5 as rs%}
                      {% for random_selection in rs %}
                        <div class="row-fluid DivTableDesign">
                            <div class="span3">
                                {% if settings.BLOG_USE_FEATURED_IMAGE and random_selection.featured_image %}
                                {% block blog_post_list_post_featured_image %}
                                    <div class="thumbnail">
                                        <img src="{{ MEDIA_URL }}{% thumbnail random_selection.featured_image 160 120 %}" />
                                    </div>
                                {% endblock %}
                                {% endif %}
                            </div>
                            <div class="span9">
                                <a href="{{ random_selection.get_absolute_url }}">{{ random_selection.title }} </a>
                                <br />
                                <i class="icon-time"></i>{{ random_selection.publish_date }}
                            </div>
                        </div>
                      {% endfor %}
                 </div>
