{% extends "blog/base.html" %}
{% load mezzanine_tags comment_tags keyword_tags rating_tags i18n future disqus_tags %}

                {% block main %}
                <div>
                    <div class="page-header">
                        <h1 id="h2Title">{{ blog_post.title }}</h1>
                    </div>
                    <ul class="breadcrumb" style="color: #3A87AD;">
                        {% comment %}
                        {% block blog_post_detail_postedby %}
                        {% editable blog_post.publish_date %}
                        <h6>
                            {% trans "Posted by" %}:
                            {% with blog_post.user as author %}
                            <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
                            {% endwith %}
                            {% blocktrans with sometime=blog_post.publish_date|timesince %}{{ sometime }} ago{% endblocktrans %}
                        </h6>
                        {% endeditable %}
                        {% endblock %}
                        {% endcomment %}
                        <li><i class="icon-calendar "></i>&nbsp;{{ blog_post.publish_date }} </li>
                        <!--<li>&nbsp;&nbsp;<i class="icon-folder-open"></i>&nbsp; in Asp.Net </li>-->
                    </ul>
                    {% block blog_post_detail_content %}
                    {% editable blog_post.content %}
                    {{ blog_post.content|richtext_filters|safe }}
                    {% endeditable %}
                    {% endblock %}

                    {% block blog_post_detail_related_posts %}
                    {% if blog_post.related_posts.all %}
                    <h3>{% trans 'Related posts' %}</h3><br />
                    <p>
                    {% for post in blog_post.related_posts.all %}
                        <i class="icon-ok"></i><a href="{{ post.get_absolute_url }}">&nbsp;{{ post.title }}</a><br />
                    {% endfor %}
                    </p>
                    {% endif %}
                    {% endblock %}

                    {% block blog_post_detail_keywords %}
                    {% keywords_for blog_post as tags %}
                    {% if tags %}
                    <h3>Tags</h3>
                    <p>
                        {% for tag in tags %}
                        <span class="label label-info"><i class="icon-tag icon-white"></i><a href="{% url "blog_post_list_tag" tag.slug %}"  style="color: White;">&nbsp;{{ tag }}</a></span>
                        {% endfor %}
                    </p>
                    <br />
                    {% endif %}
                    {% endblock %}
                    <ul class="breadcrumb">
                        <li>Comments </li>
                    </ul>
                    <blockquote>
                        <p>
                            Lorem ipsum dolor sit enatis. Lorem ipsum dolor sit enatis Lorem ipsum dolor sit enatis Lorem ipsum dolor sit enatis</p>
                        <small>Someone famous</small></blockquote>
                    <blockquote>
                        <p>
                            Lorem ipsum dolor sit enatis.Lorem ipsum dolor sit enatisLorem ipsum dolor sit enatis</p>
                        <small>Someone famous</small></blockquote>
                        <blockquote>
                        <p>
                            Lorem ipsum dolor sit enatis.Lorem ipsum dolor sit enatis</p>
                        <small>Someone famous</small></blockquote>
                        <blockquote>
                        <p>
                            Lorem ipsum dolor sit enatisLorem ipsum dolor sit enatisLorem ipsum dolor sit enatisLorem ipsum dolor sit enatisLorem ipsum dolor sit enatisLorem ipsum dolor sit enatis.</p>
                        <small>Someone famous</small></blockquote>
                </div>
                {% endblock main %}
