{% extends "blog/base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags disqus_tags %}

                {% block main %}
                {% for blog_post in blog_posts.object_list %}
                <div class="thumbnail">
                    <div class="row-fluid">
                        <div class="span4">
                            <div class="thumbnail2">
                                {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
                                {% block blog_post_list_post_featured_image %}
                                <img class="featured-thumb" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 325 225 %}">
                                {% endblock %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="span8">
                            <a href="{{ blog_post.get_absolute_url }}" class="Title">{{ blog_post.title }}</a>
                            <p>
                            {% block blog_post_list_post_content %}
                            {{ blog_post.description_from_content|safe }}
                            {% endblock %}
                            </p>
                            <p style="text-align: right">

                            {% if settings.COMMENTS_DISQUS_SHORTNAME %}
                            <a class="btn btn-info" href="{{ blog_post.get_absolute_url }}#disqus_thread"
                                data-disqus-identifier="{% disqus_id_for blog_post %}">
                                {% trans "Comments" %}
                            </a>
                            {% else %}
                            <a class="btn btn-info" href="{{ blog_post.get_absolute_url }}#comments">
                                {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} komentarz{% plural %}{{ comments_count }} komentarzy{% endblocktrans %}
                            </a>
                            {% endif %}


                                <a href="{{ blog_post.get_absolute_url }}" class="btn btn-info">Czytaj Więcej{% comment %}{% trans "read more" %}{% endcomment %}</a>
                            </p>
                        </div>
                    </div>
                </div>
                <br />
                {% endfor %}
                {% endblock %}
